.heading {
    background-color: var(--color-white);
    display: flex;
    justify-content: space-between;
    position: relative;
    padding: 16px 24px;
}
.heading__buger-menu { /* a escolha do background image é devido ao fato de não poder mudar a cor de fundo sem JS no caso de ter utilizado a tag img no html*/
    width: 48px;
    height: 48px;
    background-image: url(../Images/Menu.svg);
    background-repeat: no-repeat;
    display: inline-block;
}
.container {
    display: flex;
    align-items: center;
    gap: 8px;   
}
.container__button {
    display: none;
}
.container__image {
    /* margin-right:8px; */
}
.menu__list {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: var(--color-white);
    width: 65vw;
}
.container__button:checked~.menu__list {
    display: block;
}
.menu__list__title,
.menu__list__link {
   padding: 1em;
   display: block;
   text-decoration: none;
}
.menu__list__title {
    font-weight: 700;
    color: var(--color-orange);
}
.menu__list__link {
    background: var(--color-gradient);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
