.topics {
    background: var(--color-gradient);
    padding:1.5em 0.75em;
}
.topics__title {
    font-weight: 300;
    color: var(--color-white);
    text-align: center;
    margin-bottom: 1.5em;
}
.topics__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
}
.list__items {
    padding: 1em 1.5em;
    background-color: var(--color-orange);
}
.list__link {    
    color: var(--color-white);
    text-decoration: none;
    font-weight: 700;
    font-size: 0.85em;
}